.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
aux/hg19_cytoBand.dat
aux/hg38_cytoBand.dat
_aux/hg19_cytoBand.dat
_aux/hg38_cytoBand.dat
aux/hg19_cytoBand.dat
aux/hg38_cytoBand.dat
aux/hg19_cytoBand.dat
/aux
/aux
/aux
aux/hg19_cytoBand.dat
*.dat
aux/hg38_cytoBand.dat
